@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background: black;
    scroll-behavior: smooth;
    word-spacing: 1px; !important;
}
body{
    font-family: 'Inconsolata', monospace;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.section{
    width: 100vw;
    height: 100vh;
    color: white;
    scroll-snap-align: start;
}

.main{
    text-align: center;
    padding-top: 30vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.main h1{
    color: aquamarine;
    font-size: 2.5rem;
}

.main h2{
    font-size: 1.25rem;
    color: #60CD91;
}

.main h3{
    font-size: 1.25rem;
    color: white;
}

.main a{
    color: #89CDB3;
}

.main a:hover{
    text-decoration: underline;
    animation: cycle 5s linear infinite alternate;
}

.secondary{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vh;
}
.secondary h1{
    color: aquamarine;
    width: 100vw;
    font-size: 5em;
}

.secondary h2{
    font-size: 3rem;
    margin-left: 5vw;
    color: #60CD91;
}

.secondary h3{
    font-size: 2.5rem;
    text-align: center;
    color: #a9e9d0;
}

.secondary p{
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.secondary a{
    color: white;
    margin-right: 17.25vw;
}

.secondary a:hover{
    animation: cycle 5s linear infinite alternate;
}

.secondary a:visited{
    color: white;
}

.projects{
    text-align: center;
    padding-top: 10vh;
    color: white;
}

.projects h1{
    color: aqua;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 5vh;
}
.projects p{
    font-size: 1.25rem;
    padding-bottom: 3vh;
}
.projects a{
    color: white;
}
.projects a:hover{
    animation: cycle 5s linear infinite alternate;
}

.border{
    padding: 1rem;
    border: 3px solid;
    animation: cycleBorder 5s linear infinite alternate;
    width: 80vw;
    height: 50vh;
    display: inline-block;
    margin-top: 20vh;
    margin-left: 10vw;
    flex-direction: column;
    overflow: scroll;
}

.script{
    font-size: 1.25rem;
    text-align: justify;
    text-align-last: center;
}

.header{
    position: sticky;
}

.border h1{
    text-align: center; !important;

}

.contact {
    text-align: center;
    padding-top: 5rem;
    color: white;
}


.zulsorter{
    width: 80vw;
    margin: auto;
    text-align: center;
}


.thisPage{
    margin: auto;
    width: 75%;
    text-align: center;
}

.counter{
    padding-top: 1vh;
    text-align: center;
    font-size: 1.5rem;
}

@keyframes cycle {
    100% { color: rgba(215, 216, 217, 0.5);}
    80% { color: rgba(227, 112, 112, 0.5);}
    60% { color: rgba(155, 219, 184, 0.5);}
    40% { color: rgb(193, 129, 195);}
    20% { color: rgb(98, 126, 229);}
}

@keyframes cycleBorder {
    100% { border-color: rgba(215, 216, 217, 0.5);}
    80% { border-color: rgba(227, 112, 112, 0.5);}
    60% { border-color: rgba(155, 219, 184, 0.5);}
    40% { border-color: rgb(193, 129, 195);}
    20% { border-color: rgb(98, 126, 229);}
}