@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
    background: black;
    color: #B7B9BD;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

#section{
    text-align: center;
    margin-top: 15%;
    margin-right: 15%;
}
#section h2{
    margin-left: 10%;
    font-size: 0.8vw;
}

#section h3{
    margin-left: 20%;
}
#section a{
    text-decoration: none;
    color: white;
}
#section a:hover{
    text-decoration: underline;
}